In [16]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv(r'C:/Users/sweat/Desktop/50_Startups.csv')

In [18]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
#splitting the data into dependent and independent variable 
x = df.iloc[:,:-1]

In [20]:
y = df.iloc[:,-1] #dependent variable

In [21]:
#converting the State column into categorical variable 
states = pd.get_dummies(x['State'],drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [22]:
x = x.drop('State',axis=1)

In [23]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [24]:
x= pd.concat([x,states],axis=1)

In [32]:
#building the model 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [33]:
from sklearn.linear_model import LinearRegression
reg_model = LinearRegression()

In [34]:
reg_model.fit(x_train,y_train)

LinearRegression()

In [37]:
y_pred = reg_model.predict(x_test) #predicted y values

In [38]:
#R squared val 
from sklearn.metrics import r2_score

In [39]:
score = r2_score(y_test,y_pred)

In [40]:
print(score)

0.931581519915206